body {
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 960px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #fbad27;
    background-color: #fbad27;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .search :focus-within {
    border: 1px solid #fbad27;
  }
  .search-box {
    width: 80vw;
    height: 30px;
    border: 0;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(46, 76, 56);
  }
  div.hero {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
    font-family: "Open Sans", sans-serif;
  }
}
@media screen and (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #fbad27;
    background-color: #fbad27;
  }
  .search :focus-within {
    border: 1px solid #fbad27;
  }

  .search-box {
    width: 30vw;
    height: 30px;
    border: 0;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(46, 76, 56);
  }
}

#header-message {
  display: flex;
  width: 100vw;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
  padding: 14px;
  margin: 0;
  gap: 14px;
  background-color: #fbad27;
  color: whitesmoke;
}
#header-reducere {
  color: rgb(219, 37, 46);
}
#header-reducere:hover {
  color: rgb(255, 0, 13);
  transform: scale(1.1);
}
#header-date {
  color: darkolivegreen;
}
#header-date:hover {
  color: whitesmoke;
  transform: scale(1.1);
}
#header-contul-meu {
  color: whitesmoke;
  background-color: #2c5f41;
  margin-left: 20px;
  padding: 6px 12px 6px 6px;
}
#header-contul-meu span {
  color: whitesmoke;
  background-color: #2c5f41;
  margin-left: 10px;
  font-size: 0.8em;
}
#header-contul-meu:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 6px 30px 6px;
}

.logo {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.logo > img {
  width: 70%;
}

.search-button {
  background: #fbad27;
  border: 0;
  padding: 0 10px 0 10px;
}
.fa-magnifying-glass {
  color: white;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 20px 0 40px;
}

.cart-text {
  background-color: #2c5f41;
  color: whitesmoke;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 9px;
}
.cart-icon {
  background: #fbad27;
  border: 0;
  padding: 0.5rem 10px 0.5rem 10px;
}
.fa-cart-shopping {
  color: whitesmoke;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  width: 100vw;
}

.before-hero-1 a {
  color: #fbad27;
  margin-right: 20px;
  text-decoration: underline;
  justify-content: center;
  width: max-content;
}
.before-hero-2 a {
  color: #be3081;
  margin-right: 20px;
  text-decoration: none;
  justify-content: center;
  margin-top: 10px;
}
.before-hero-3 a {
  color: #2c5f41;
  margin-right: 20px;
  text-decoration: none;
  justify-content: center;
  margin-top: 10px;
  font-weight: bold;
}
#before-hero-gap {
  color: #808080;
  margin-right: 20px;
  justify-content: center;
}

.hero {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero .hero-text {
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 4vw;
}
.hero .hero-text h1 {
  color: whitesmoke;
  font-size: 3vw;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #2c5f41;
  padding: 10px;
}
.hero .hero-text p {
  color: #333;
  font-weight: bold;
  border: 1px dashed #2c5f41;
  font-size: 20px;
  opacity: 0.5;
  margin-bottom: 20px;
  background-color: whitesmoke;
  padding: 10px;
}
.hero .hero-text a {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  background-color: #04aa6d;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}
.hero .hero-text a:hover {
  transform: scale(1.1);
  color: #fbad27;
}

/*horizontal line*/
.separator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.separator h3 {
  padding: 0 2rem;
  color: #04aa6d;
}

.separator .line-before {
  flex: 1;
  height: 2px;
  background-image: linear-gradient(to right, #fbad27, #04aa6d);
}
.separator .line-after {
  flex: 1;
  height: 2px;
  background-image: linear-gradient(to right, #04aa6d, #fbad27);
}

/* grid items reduceri */
.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 20px 40px 20px 40px;
}
.shop-grid-element {
  justify-content: center;
}
.shop-items-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shop-items-box:hover {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}

.shop-item-img {
  width: 80%;
  align-self: center;
  margin-top: 20px;
}

.shop-item-text {
  text-align: center;
  margin: 10px 14px 4px 14px;
  font-weight: bold;
  color: #333;
  height: 55px;
}
.shop-item-price {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  color: #be3081;
  font-size: 1.6em;
}
.addcart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.addcart-text {
  background-color: #2c5f41;
  color: whitesmoke;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 9px 0 9px 0;
  width: 100%;
  text-align: center;
}
